.container-error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  color: white;
}

h5, p {
  margin-top: 0%;
}