.Registro-Container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.logo-about {
  margin-top: 10%;
  height: 17vmin;
}

.center {
  font-weight: bold;
  margin-top: 0%;
}

.buttons-container {
  margin: 0%;
  padding: 0%;
}